*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(224, 207, 207);
}
main{
    background-color: rgb(224, 207, 207);
    width: 100%;
    height: 100vh;
    display: flex;

}
main .grid1{
    position: relative;
    /* background-color: aqua; */
    width: 30%;
    height: 70%;
    padding: 0 12px ;
    margin: 10px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
}


main .grid1 .section1{
    /* background-color: white; */
    width: 70%;
    position: relative;
    border-radius: 10px;
    
}
main .grid1 .section1 .image{
    position: relative;
    background-color: blueviolet;
    width: 200px;
    height: 100px;
    position: absolute;
    
}
main .grid1 .section1 .image h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 15px;
    color: white;
}
main .grid1 .section1 .image h6{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 10px;
    color: white;
}
main .grid1 .section1 .image img{
    width: 245px;
    height: 150px;
    position: absolute;
    top: -20px;
    right: -25px;
    border-radius: 20px;
    object-fit: cover;
    
}
main .grid1 .section2{
    width: 70%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}
main .grid1 .section2 .total{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
main .grid1 .section2 .total .all1{
    background-color: rgb(224, 207, 207);
    position: absolute;
    top: 5px;
    padding: 5px ;
    font-size: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(49, 49, 160);

}
main .grid1 .section2 .total .all1:hover{
    background-color: rgb(15, 15, 148);
    color: white;
}
main .grid1 .section2 .total .all2{
    background-color: rgb(224, 207, 207);
    position: absolute;
    top: 5px;
    left: 60px;
    padding: 5px ;
    font-size: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(49, 49, 160);

}
main .grid1 .section2 .total .all2:hover{
    background-color: rgb(15, 15, 148);
    color: white;
}
main .grid1 .section2 .total .all3{
    background-color: rgb(224, 207, 207);
    position: absolute;
    top: 5px;
    left: 110px;
    padding: 5px ;
    font-size: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(49, 49, 160);

}
main .grid1 .section2 .total .all3:hover{
    background-color: rgb(15, 15, 148);
    color: white;
}
main .grid1 .section2 .total .all4{
    background-color: rgb(224, 207, 207);
    position: absolute;
    top: 40px;
    padding: 5px ;
    font-size: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(49, 49, 160);

}
main .grid1 .section2 .total .all4:hover{
    background-color: rgb(15, 15, 148);
    color: white;
}
main .grid1 .section2 .total .all5{
    background-color: rgb(224, 207, 207);
    position: absolute;
    top: 40px;
    left: 100px;
    padding: 5px ;
    font-size: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(49, 49, 160);

}
main .grid1 .section2 .total .all5:hover{
    background-color: rgb(15, 15, 148);
    color: white;
}
main .grid1 .section2 .total .all6{
    background-color: rgb(224, 207, 207);
    position: absolute;
    top: 75px;
    padding: 5px ;
    font-size: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(49, 49, 160);

}
main .grid1 .section2 .total .all6:hover{
    background-color: rgb(15, 15, 148);
    color: white;
}
main .grid1 .section3{
    width: 70%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    
}
main .grid1 .section3 .table{
    /* background-color: blue; */
    height:50%;
    font-size: 10px;
    position: relative;
    
    
}
main .grid1 .section3 .table table{
    /* background-color: blueviolet; */
    height: 0px;
    position: absolute;
    top: -5px;
    left: 0px;
    padding: 0px 0;
    text-align: left;
    line-height: 0px;
}
main .grid1 .section3 .table table tr td .plan{
    color: red;
    font-weight: bold;
}
main .grid1 .section3 .table table tr td .pro{
    color: purple;
    font-weight: bold;

}
main .grid1 .section3 .table table tr td .live{
    color: blue;
    font-weight: bold;

}
main .grid2{
    /* background-color: palevioletred; */
    width: 60%;
    height: 150vh;
    position: relative;
    left: -100px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}
main .grid2 .line1{
    background-color: rgb(35, 35, 51);
    position: relative;
    border-radius: 10px;
}
main .grid2 .line1 .nav{
    width: 106%;
    /* background-color: red; */
    height: 50px;
    position: absolute;
    top: 5px;
    left: -30px;
    display: flex;
    color: white;
    
    
}
main .grid2 .line1 .nav button{
    background-color: purple;
    position: absolute;
    right: 20px;
    
    border-radius: 10px;
    border: none;
    color: white;
}
main .grid2 .line1 .nav span{
    font-size: 12px;
}
main .grid2 .line2{
    background-color: white;
    display: flex;
    position: relative;
    color:   rgb(35, 35, 51);
    border-radius: 10px ;
}
main .grid2 .line2 .btn{
    border: none;
    background-color: rgb(170, 152, 152);
    padding: 0;
    margin: 12px 0;
    height: 50%;
    border-radius: 10px;
    
    
}

main .grid2 .line2 .box2{
    height: 100px;
    /* background-color: blue; */
    
}
main .grid2 .line2 .box2 p{
    font-size: 10px;
    line-height: 0px;
    
}
main .grid2 .line2 .box2 button{
    background-color: rgb(170, 152, 152);
    width: 40%;
    padding: 5px 2px;
    font-size: 10px;
    border-radius: 8px;
    border: none;
    color: blue;
}
main .grid2 .line2 .box3{
    /* background-color: brown; */
    display: flex;
    position: absolute;
    right: 2px;
    top: 20px;
}

main .grid2 .line3{
    background-color: white;
    display: flex;
    position: relative;
    color:   rgb(35, 35, 51);
    border-radius: 10px ;
}
main .grid2 .line3 .btn{
    border: none;
    background-color: rgb(170, 152, 152);
    padding: 0;
    margin: 12px 0;
    height: 50%;
    border-radius: 10px;
    
    
}

main .grid2 .line3 .box2{
    height: 100px;
    /* background-color: blue; */
    
}
main .grid2 .line3 .box2 p{
    font-size: 10px;
    line-height: 0px;
    
}
main .grid2 .line3 .box2 button{
    background-color: rgb(170, 152, 152);
    width: 35%;
    padding: 5px 2px;
    font-size: 10px;
    border-radius: 8px;
    border: none;
    color: blue;
    
}
main .grid2 .line3 .box3{
    /* background-color: brown; */
    display: flex;
    position: absolute;
    right: 2px;
    top: 20px;
}
main .grid2 .line4{
    background-color:  white;
    display: flex;
    position: relative;
    color:   rgb(35, 35, 51);
    border-radius: 10px ;
}
main .grid2 .line4 .btn{
    border: none;
    background-color: rgb(170, 152, 152);
    padding: 0;
    margin: 12px 0;
    height: 50%;
    border-radius: 10px;
    
    
}

main .grid2 .line4 .box2{
    height: 100px;
    /* background-color: blue; */
    
}
main .grid2 .line4 .box2 p{
    font-size: 10px;
    line-height: 0px;
    
}
main .grid2 .line4 .box2 button{
    background-color: rgb(170, 152, 152);
    width: 40%;
    padding: 5px 2px;
    font-size: 10px;
    border-radius: 8px;
    border: none;
    color: blue;
    
}
main .grid2 .line4 .box3{
    /* background-color: brown; */
    display: flex;
    position: absolute;
    right: 2px;
    top: 20px;
}
main .grid2 .line5{
    background-color:  white;
    display: flex;
    position: relative;
    color:   rgb(35, 35, 51);
    border-radius: 10px ;
}
main .grid2 .line5 .btn{
    border: none;
    background-color: rgb(170, 152, 152);
    padding: 0;
    margin: 12px 0;
    height: 50%;
    border-radius: 10px;
    
    
}

main .grid2 .line5 .box2{
    height: 100px;
    /* background-color: blue; */
    
}
main .grid2 .line5 .box2 p{
    font-size: 10px;
    line-height: 0px;
    
}
main .grid2 .line5 .box2 button{
    background-color: rgb(170, 152, 152);
    width: 40%;
    padding: 5px 2px;
    font-size: 10px;
    border-radius: 8px;
    border: none;
    color: blue;
    
}
main .grid2 .line5 .box3{
    /* background-color: brown; */
    display: flex;
    position: absolute;
    right: 2px;
    top: 20px;
}
main .grid2 .line6{
    background-color:  white;
    display: flex;
    position: relative;
    color:   rgb(35, 35, 51);
    border-radius: 10px ;
}
main .grid2 .line6 .btn{
    border: none;
    background-color: rgb(170, 152, 152);
    padding: 0;
    margin: 12px 0;
    height: 50%;
    border-radius: 10px;
    
    
}

main .grid2 .line6 .box2{
    height: 100px;
    /* background-color: blue; */
    
}
main .grid2 .line6 .box2 p{
    font-size: 10px;
    line-height: 0px;
    
}
main .grid2 .line6 .box2 button{
    background-color: rgb(170, 152, 152);
    width: 40%;
    padding: 5px 2px;
    font-size: 10px;
    border-radius: 8px;
    border: none;
    color: blue;
    
}
main .grid2 .line6 .box3{
    /* background-color: brown; */
    display: flex;
    position: absolute;
    right: 2px;
    top: 20px;
}
main .grid2 .line7{
    background-color:  white;
    display: flex;
    position: relative;
    color:   rgb(35, 35, 51);
    border-radius: 10px ;
}
main .grid2 .line7 .btn{
    border: none;
    background-color: rgb(170, 152, 152);
    padding: 0;
    margin: 12px 0;
    height: 50%;
    border-radius: 10px;
    
    
}

main .grid2 .line7 .box2{
    height: 100px;
    /* background-color: blue; */
    
}
main .grid2 .line7 .box2 p{
    font-size: 10px;
    line-height: 0px;
    
}
main .grid2 .line7 .box2 button{
    background-color: rgb(170, 152, 152);
    width: 40%;
    padding: 5px 2px;
    font-size: 10px;
    border-radius: 8px;
    border: none;
    color: blue;
    
}
main .grid2 .line7 .box3{
    /* background-color: brown; */
    display: flex;
    position: absolute;
    right: 2px;
    top: 20px;
}

